Dsl/GeneratedCode/PowerFunctionsReportDSLSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema id="PowerFunctionsReportDSLSchema" targetNamespace="http://schemas.microsoft.com/dsltools/PowerFunctionsReportDSL" elementFormDefault="qualified" xmlns="http://schemas.microsoft.com/dsltools/PowerFunctionsReportDSL" xmlns:core="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import id="CoreSchema" namespace="http://schemas.microsoft.com/VisualStudio/2008/DslTools/Core" />
  <!-- ModelRoot -->
  <xsd:element name="modelRoot" type="ModelRoot" substitutionGroup="namedElement" />
  <xsd:complexType name="ModelRoot">
    <xsd:annotation>
      <xsd:documentation>The root in which all other elements are embedded. Appears as a diagram.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NamedElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: ModelRootHasComments -->
          <xsd:element name="comments" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ModelRootHasComments</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="modelRootHasComments" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ModelRootHasComments needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: ModelRootHasTypes -->
          <xsd:element name="types" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of ModelRootHasTypes</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="modelRootHasTypes" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of ModelRootHasTypes needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- dslVersion -->
        <xsd:attribute name="dslVersion" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Version of the model serialized in this file.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelRoot Moniker -->
  <xsd:element name="modelRootMoniker" type="ModelRootMoniker" substitutionGroup="namedElementMoniker" />
  <xsd:complexType name="ModelRootMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ModelRoot instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NamedElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Comment -->
  <xsd:element name="comment" type="Comment" substitutionGroup="core:modelElement" />
  <xsd:complexType name="Comment">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: CommentReferencesModelTyped -->
          <xsd:element name="modelTyped" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of CommentReferencesModelTyped</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="commentReferencesModelTyped" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of CommentReferencesModelTyped needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Comment Moniker -->
  <xsd:element name="commentMoniker" type="CommentMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="CommentMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Comment instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelType -->
  <xsd:element name="modelType" abstract="true" type="ModelType" substitutionGroup="namedElement" />
  <xsd:complexType name="ModelType" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="NamedElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelType Moniker -->
  <xsd:element name="modelTypeMoniker" abstract="true" type="ModelTypeMoniker" substitutionGroup="namedElementMoniker" />
  <xsd:complexType name="ModelTypeMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ModelType instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NamedElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- NamedElement -->
  <xsd:element name="namedElement" type="NamedElement" substitutionGroup="core:modelElement" />
  <xsd:complexType name="NamedElement">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Name -->
        <xsd:attribute name="name" type="xsd:string" />
        <!-- Property: Alias -->
        <xsd:attribute name="alias" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- NamedElement Moniker -->
  <xsd:element name="namedElementMoniker" type="NamedElementMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="NamedElementMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for NamedElement instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelElement -->
  <xsd:element name="modelElement" abstract="true" type="ModelElement" substitutionGroup="namedElement" />
  <xsd:complexType name="ModelElement" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="NamedElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Description -->
        <xsd:attribute name="description" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelElement Moniker -->
  <xsd:element name="modelElementMoniker" abstract="true" type="ModelElementMoniker" substitutionGroup="namedElementMoniker" />
  <xsd:complexType name="ModelElementMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ModelElement instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NamedElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelAttribute -->
  <xsd:element name="modelAttribute" type="ModelAttribute" substitutionGroup="modelElement" />
  <xsd:complexType name="ModelAttribute">
    <xsd:complexContent>
      <xsd:extension base="ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Type -->
        <xsd:attribute name="type" type="Types" />
        <!-- Property: IsDataMember -->
        <xsd:attribute name="isDataMember" type="xsd:boolean" />
        <!-- Property: ModelCode -->
        <xsd:attribute name="modelCode" type="xsd:string" />
        <!-- Property: MeasurementType -->
        <xsd:attribute name="measurementType" type="MeasurementType" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelAttribute Moniker -->
  <xsd:element name="modelAttributeMoniker" type="ModelAttributeMoniker" substitutionGroup="modelElementMoniker" />
  <xsd:complexType name="ModelAttributeMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ModelAttribute instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ModelElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelClass -->
  <xsd:element name="modelClass" abstract="true" type="ModelClass" substitutionGroup="modelType" />
  <xsd:complexType name="ModelClass" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="ModelType">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: ShouldGenerate -->
        <xsd:attribute name="shouldGenerate" type="xsd:boolean" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelClass Moniker -->
  <xsd:element name="modelClassMoniker" abstract="true" type="ModelClassMoniker" substitutionGroup="modelTypeMoniker" />
  <xsd:complexType name="ModelClassMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ModelClass instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ModelTypeMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Enum -->
  <xsd:element name="enum" type="Enum" substitutionGroup="modelClass" />
  <xsd:complexType name="Enum">
    <xsd:complexContent>
      <xsd:extension base="ModelClass">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: EnumHasValues -->
          <xsd:element name="values" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of EnumHasValues</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="enumHasValues" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of EnumHasValues needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Enum Moniker -->
  <xsd:element name="enumMoniker" type="EnumMoniker" substitutionGroup="modelClassMoniker" />
  <xsd:complexType name="EnumMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Enum instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ModelClassMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EnumAttribute -->
  <xsd:element name="enumAttribute" type="EnumAttribute" substitutionGroup="modelElement" />
  <xsd:complexType name="EnumAttribute">
    <xsd:complexContent>
      <xsd:extension base="ModelElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EnumAttribute Moniker -->
  <xsd:element name="enumAttributeMoniker" type="EnumAttributeMoniker" substitutionGroup="modelElementMoniker" />
  <xsd:complexType name="EnumAttributeMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EnumAttribute instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ModelElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- UIElement -->
  <xsd:element name="uIElement" abstract="true" type="UIElement" substitutionGroup="modelType" />
  <xsd:complexType name="UIElement" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="ModelType">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: ShouldGenerate -->
        <xsd:attribute name="shouldGenerate" type="xsd:boolean" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- UIElement Moniker -->
  <xsd:element name="uIElementMoniker" abstract="true" type="UIElementMoniker" substitutionGroup="modelTypeMoniker" />
  <xsd:complexType name="UIElementMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for UIElement instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="ModelTypeMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Tab -->
  <xsd:element name="tab" type="Tab" substitutionGroup="uIElement" />
  <xsd:complexType name="Tab">
    <xsd:complexContent>
      <xsd:extension base="UIElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: TabReferencesTargetTabbed -->
          <xsd:element name="targetTabbed" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of TabReferencesTargetTabbed</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="tabReferencesTargetTabbed" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of TabReferencesTargetTabbed needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: TabReferencesDataGrid -->
          <xsd:element name="dataGrid" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instance of TabReferencesDataGrid</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="tabReferencesDataGrid" minOccurs="0" maxOccurs="1">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of TabReferencesDataGrid needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: TabHasAttributes -->
          <xsd:element name="attributes" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of TabHasAttributes</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="tabHasAttributes" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of TabHasAttributes needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: Header -->
        <xsd:attribute name="header" type="xsd:string" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Tab Moniker -->
  <xsd:element name="tabMoniker" type="TabMoniker" substitutionGroup="uIElementMoniker" />
  <xsd:complexType name="TabMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for Tab instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="UIElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- UIElementAttribute -->
  <xsd:element name="uIElementAttribute" abstract="true" type="UIElementAttribute" substitutionGroup="namedElement" />
  <xsd:complexType name="UIElementAttribute" abstract="true" >
    <xsd:complexContent>
      <xsd:extension base="NamedElement">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- UIElementAttribute Moniker -->
  <xsd:element name="uIElementAttributeMoniker" abstract="true" type="UIElementAttributeMoniker" substitutionGroup="namedElementMoniker" />
  <xsd:complexType name="UIElementAttributeMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for UIElementAttribute instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NamedElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DataGrid -->
  <xsd:element name="dataGrid" type="DataGrid" substitutionGroup="uIElement" />
  <xsd:complexType name="DataGrid">
    <xsd:complexContent>
      <xsd:extension base="UIElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Relationship: DataGridHasAttributes -->
          <xsd:element name="attributes" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of DataGridHasAttributes</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="dataGridHasAttributes" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of DataGridHasAttributes needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <!-- Relationship: DataGridHasColumns -->
          <xsd:element name="columns" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>Instances of DataGridHasColumns</xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element ref="dataGridHasColumns" minOccurs="0" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation>[Instance of DataGridHasColumns needs to be serialized in full-form]</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DataGrid Moniker -->
  <xsd:element name="dataGridMoniker" type="DataGridMoniker" substitutionGroup="uIElementMoniker" />
  <xsd:complexType name="DataGridMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for DataGrid instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="UIElementMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ColumnAttribute -->
  <xsd:element name="columnAttribute" type="ColumnAttribute" substitutionGroup="uIElementAttribute" />
  <xsd:complexType name="ColumnAttribute">
    <xsd:complexContent>
      <xsd:extension base="UIElementAttribute">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <!-- Property: BindingName -->
        <xsd:attribute name="bindingName" type="xsd:string" />
        <!-- Property: Width -->
        <xsd:attribute name="width" type="xsd:string" />
        <!-- Property: VerticalAlignment -->
        <xsd:attribute name="verticalAlignment" type="VerticalAlignment" />
        <!-- Property: HorizontalAlignment -->
        <xsd:attribute name="horizontalAlignment" type="HorizontalAlignment" />
        <!-- Property: Header -->
        <xsd:attribute name="header" type="xsd:string" />
        <!-- Property: Type -->
        <xsd:attribute name="type" type="xsd:string" />
        <!-- Property: IsDataMember -->
        <xsd:attribute name="isDataMember" type="xsd:boolean" />
        <!-- Property: ModelCode -->
        <xsd:attribute name="modelCode" type="xsd:string" />
        <!-- Property: MeasurementType -->
        <xsd:attribute name="measurementType" type="MeasurementType" />
        <!-- Property: ShouldGenerate -->
        <xsd:attribute name="shouldGenerate" type="xsd:boolean" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ColumnAttribute Moniker -->
  <xsd:element name="columnAttributeMoniker" type="ColumnAttributeMoniker" substitutionGroup="uIElementAttributeMoniker" />
  <xsd:complexType name="ColumnAttributeMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ColumnAttribute instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="UIElementAttributeMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TabAttribute -->
  <xsd:element name="tabAttribute" type="TabAttribute" substitutionGroup="uIElementAttribute" />
  <xsd:complexType name="TabAttribute">
    <xsd:complexContent>
      <xsd:extension base="UIElementAttribute">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TabAttribute Moniker -->
  <xsd:element name="tabAttributeMoniker" type="TabAttributeMoniker" substitutionGroup="uIElementAttributeMoniker" />
  <xsd:complexType name="TabAttributeMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for TabAttribute instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="UIElementAttributeMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DataGridAttribute -->
  <xsd:element name="dataGridAttribute" type="DataGridAttribute" substitutionGroup="uIElementAttribute" />
  <xsd:complexType name="DataGridAttribute">
    <xsd:complexContent>
      <xsd:extension base="UIElementAttribute">
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DataGridAttribute Moniker -->
  <xsd:element name="dataGridAttributeMoniker" type="DataGridAttributeMoniker" substitutionGroup="uIElementAttributeMoniker" />
  <xsd:complexType name="DataGridAttributeMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for DataGridAttribute instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="UIElementAttributeMoniker">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelRootHasComments -->
  <xsd:element name="modelRootHasComments" type="ModelRootHasComments" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ModelRootHasComments">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Comment -->
          <xsd:element ref="comment" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelRootHasComments Moniker -->
  <xsd:element name="modelRootHasCommentsMoniker" type="ModelRootHasCommentsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ModelRootHasCommentsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ModelRootHasComments instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- CommentReferencesModelTyped -->
  <xsd:element name="commentReferencesModelTyped" type="CommentReferencesModelTyped" substitutionGroup="core:modelElement" />
  <xsd:complexType name="CommentReferencesModelTyped">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end ModelType -->
          <xsd:element ref="modelTypeMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- CommentReferencesModelTyped Moniker -->
  <xsd:element name="commentReferencesModelTypedMoniker" type="CommentReferencesModelTypedMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="CommentReferencesModelTypedMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for CommentReferencesModelTyped instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelRootHasTypes -->
  <xsd:element name="modelRootHasTypes" type="ModelRootHasTypes" substitutionGroup="core:modelElement" />
  <xsd:complexType name="ModelRootHasTypes">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end ModelType -->
          <xsd:element ref="modelType" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- ModelRootHasTypes Moniker -->
  <xsd:element name="modelRootHasTypesMoniker" type="ModelRootHasTypesMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="ModelRootHasTypesMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for ModelRootHasTypes instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EnumHasValues -->
  <xsd:element name="enumHasValues" type="EnumHasValues" substitutionGroup="core:modelElement" />
  <xsd:complexType name="EnumHasValues">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end EnumAttribute -->
          <xsd:element ref="enumAttribute" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- EnumHasValues Moniker -->
  <xsd:element name="enumHasValuesMoniker" type="EnumHasValuesMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="EnumHasValuesMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for EnumHasValues instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TabReferencesTargetTabbed -->
  <xsd:element name="tabReferencesTargetTabbed" type="TabReferencesTargetTabbed" substitutionGroup="core:modelElement" />
  <xsd:complexType name="TabReferencesTargetTabbed">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end Tab -->
          <xsd:element ref="tabMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TabReferencesTargetTabbed Moniker -->
  <xsd:element name="tabReferencesTargetTabbedMoniker" type="TabReferencesTargetTabbedMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="TabReferencesTargetTabbedMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for TabReferencesTargetTabbed instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TabReferencesDataGrid -->
  <xsd:element name="tabReferencesDataGrid" type="TabReferencesDataGrid" substitutionGroup="core:modelElement" />
  <xsd:complexType name="TabReferencesDataGrid">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end DataGrid -->
          <xsd:element ref="dataGridMoniker" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TabReferencesDataGrid Moniker -->
  <xsd:element name="tabReferencesDataGridMoniker" type="TabReferencesDataGridMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="TabReferencesDataGridMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for TabReferencesDataGrid instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TabHasAttributes -->
  <xsd:element name="tabHasAttributes" type="TabHasAttributes" substitutionGroup="core:modelElement" />
  <xsd:complexType name="TabHasAttributes">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end TabAttribute -->
          <xsd:element ref="tabAttribute" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- TabHasAttributes Moniker -->
  <xsd:element name="tabHasAttributesMoniker" type="TabHasAttributesMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="TabHasAttributesMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for TabHasAttributes instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DataGridHasAttributes -->
  <xsd:element name="dataGridHasAttributes" type="DataGridHasAttributes" substitutionGroup="core:modelElement" />
  <xsd:complexType name="DataGridHasAttributes">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end DataGridAttribute -->
          <xsd:element ref="dataGridAttribute" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DataGridHasAttributes Moniker -->
  <xsd:element name="dataGridHasAttributesMoniker" type="DataGridHasAttributesMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="DataGridHasAttributesMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for DataGridHasAttributes instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DataGridHasColumns -->
  <xsd:element name="dataGridHasColumns" type="DataGridHasColumns" substitutionGroup="core:modelElement" />
  <xsd:complexType name="DataGridHasColumns">
    <xsd:complexContent>
      <xsd:extension base="core:ModelElement">
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <!-- Target end ColumnAttribute -->
          <xsd:element ref="columnAttribute" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
              <xsd:documentation>[Target role-player]</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <!-- Id -->
        <xsd:attribute name="Id" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation>Instance Guid of this element, needed because SerializeId is set to true.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- DataGridHasColumns Moniker -->
  <xsd:element name="dataGridHasColumnsMoniker" type="DataGridHasColumnsMoniker" substitutionGroup="core:modelElementMoniker" />
  <xsd:complexType name="DataGridHasColumnsMoniker">
    <xsd:annotation>
      <xsd:documentation>Moniker for DataGridHasColumns instance.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="core:ModelElementMoniker">
        <xsd:attribute name="Id" type="xsd:string" >
          <xsd:annotation>
            <xsd:documentation>Attribute to store the moniker string.</xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <!-- Enum Types -->
  <xsd:simpleType name="Types">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Bool"/>
      <xsd:enumeration value="Float"/>
      <xsd:enumeration value="GID"/>
      <xsd:enumeration value="Int"/>
      <xsd:enumeration value="LID"/>
      <xsd:enumeration value="Long"/>
      <xsd:enumeration value="Short"/>
      <xsd:enumeration value="String"/>
      <xsd:enumeration value="UInt"/>
      <xsd:enumeration value="Byte"/>
      <xsd:enumeration value="Char"/>
      <xsd:enumeration value="DateTime"/>
      <xsd:enumeration value="Double"/>
      <xsd:enumeration value="UShort"/>
      <xsd:enumeration value="ULong"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum TypeAccessModifier -->
  <xsd:simpleType name="TypeAccessModifier">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Private"/>
      <xsd:enumeration value="Public"/>
      <xsd:enumeration value="Protected"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum Multiplicity -->
  <xsd:simpleType name="Multiplicity">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="One"/>
      <xsd:enumeration value="ZeroMany"/>
      <xsd:enumeration value="ZeroOne"/>
      <xsd:enumeration value="OneMany"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum JMSResultType -->
  <xsd:simpleType name="JMSResultType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Record"/>
      <xsd:enumeration value="Job"/>
      <xsd:enumeration value="Results"/>
      <xsd:enumeration value="Bean"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum ModelCodeTypes -->
  <xsd:simpleType name="ModelCodeTypes">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Empty"/>
      <xsd:enumeration value="Byte"/>
      <xsd:enumeration value="Int32"/>
      <xsd:enumeration value="Int64"/>
      <xsd:enumeration value="Float"/>
      <xsd:enumeration value="Double"/>
      <xsd:enumeration value="String"/>
      <xsd:enumeration value="DateTime"/>
      <xsd:enumeration value="Reference"/>
      <xsd:enumeration value="Bool"/>
      <xsd:enumeration value="Enum"/>
      <xsd:enumeration value="Struct"/>
      <xsd:enumeration value="TimeSpan"/>
      <xsd:enumeration value="Complex"/>
      <xsd:enumeration value="BoolVector"/>
      <xsd:enumeration value="DoubleVector"/>
      <xsd:enumeration value="StringVector"/>
      <xsd:enumeration value="DateTimeVector"/>
      <xsd:enumeration value="ReferenceVector"/>
      <xsd:enumeration value="EnumVector"/>
      <xsd:enumeration value="StructVector"/>
      <xsd:enumeration value="TimeSpanVector"/>
      <xsd:enumeration value="ComplexVector"/>
      <xsd:enumeration value="ByteVector"/>
      <xsd:enumeration value="Int32Vector"/>
      <xsd:enumeration value="Int64Vector"/>
      <xsd:enumeration value="FloatVector"/>
      <xsd:enumeration value="BoolArray"/>
      <xsd:enumeration value="Int64Array"/>
      <xsd:enumeration value="FloatArray"/>
      <xsd:enumeration value="DoubleArray"/>
      <xsd:enumeration value="StringArray"/>
      <xsd:enumeration value="DateTimeArray"/>
      <xsd:enumeration value="ReferenceArray"/>
      <xsd:enumeration value="EnumArray"/>
      <xsd:enumeration value="StructArray"/>
      <xsd:enumeration value="ByteArray"/>
      <xsd:enumeration value="Int32Array"/>
      <xsd:enumeration value="TimeSpanArray"/>
      <xsd:enumeration value="ComplexArray"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum MeasurementType -->
  <xsd:simpleType name="MeasurementType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Unitless"/>
      <xsd:enumeration value="Percent"/>
      <xsd:enumeration value="RelativeVoltage"/>
      <xsd:enumeration value="Voltage"/>
      <xsd:enumeration value="Temperature"/>
      <xsd:enumeration value="ActiveEnergy"/>
      <xsd:enumeration value="ReactiveEnergy"/>
      <xsd:enumeration value="ApparentPower"/>
      <xsd:enumeration value="VoltageAngle"/>
      <xsd:enumeration value="Status"/>
      <xsd:enumeration value="Impedance"/>
      <xsd:enumeration value="Admittance"/>
      <xsd:enumeration value="Current"/>
      <xsd:enumeration value="ActivePower"/>
      <xsd:enumeration value="ReactivePower"/>
      <xsd:enumeration value="CosPhi"/>
      <xsd:enumeration value="Frequency"/>
      <xsd:enumeration value="EMSApparentPowerM"/>
      <xsd:enumeration value="EMSReactivePowerM"/>
      <xsd:enumeration value="EMSActivePowerM"/>
      <xsd:enumeration value="None"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum HorizontalAlignment -->
  <xsd:simpleType name="HorizontalAlignment">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Center"/>
      <xsd:enumeration value="Left"/>
      <xsd:enumeration value="Right"/>
      <xsd:enumeration value="Stretch"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- Enum VerticalAlignment -->
  <xsd:simpleType name="VerticalAlignment">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Bottom"/>
      <xsd:enumeration value="Center"/>
      <xsd:enumeration value="Stretch"/>
      <xsd:enumeration value="Top"/>
    </xsd:restriction>
  </xsd:simpleType>
  
</xsd:schema>

